<h1>Authors</h1>

<ul>
<% Author.all.each do |author| %>
    <li><a href="/authors/<%= author.slug %>"><%= author.name %></a></li>
<% end %>
</ul>

<br></br>
<p><a href="/"><h3>Main Menu</h3></a></p>
