<h1>Create a New Author</h1>
<form action="/authors/new" method="POST">
  <input type="text" name="author[name]" id="Name" placeholder="Author's Name" ></input>

  <br></br>

  <input type="submit" value="Save">
</form>
