<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br></br>

<form action="/login" method="POST">
  <input type="string" name="name" id="name" placeholder="name"></input>
  <input type="password" name="password" id="password" placeholder="password"></input>
  <input type="submit" value="submit">
</form>

<br></br>

<label>Not a user? </label>
<br></br>
<form action="/signup" method="GET">
  <input type="submit" value="Sign Up"></input>
</form>
