<h1>Cultures</h1>

<ul>
<% Culture.all.each do |culture| %>
    <li><a href="/cultures/<%= culture.slug %>"><%= culture.name %></a></li>
<% end %>
</ul>

<br></br>
<p><a href="/"><h3>Main Menu</h3></a></p>
