<h1>Create a New Culture</h1>
<form action="/cultures/new" method="POST">
  <input type="text" name="culture[name]" id="Name" placeholder="Culture Name" ></input>

  <br></br>

  <input type="submit" value="Save">
</form>
