<h1><%= @culture.name %></h1>

<ul>
<% @culture.recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.slug %>"><%= recipe.name %></a></li>
<% end %>
</ul>


<p><a href="/"><h2>Main Menu</h2></a></p>
