<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h2>Ingredients</h2>
<p><a href="/ingredients/new"><h4>New Ingredient</h4></a></p>

<ul>
  <% Ingredient.all.each do |ingredient| %>
    <li><a href="/ingredients/<%= ingredient.slug %>"><%= ingredient.name %></a></li>
  <% end %>
</ul>

<a href="/"><h3>Main Menu</h3></a>
