<h1>Create a New Ingredient</h1>
<form action="/ingredients/new" method="POST">
  <input type="text" name="ingredient[name]" id="name" placeholder="Ingredient Name" ></input>
  <input type="text" name="ingredient[quantity]" id="quantity" placeholder="Ingredient Quantity on hand (i.e. 16)" ></input>
  <input type="text" name="ingredient[quantity_type]" id="quantity_type" placeholder="Ingredient Quantity type (i.e. lbs, oz, cups, etc)" ></input>
  <br></br>

  <input type="submit" value="Save">
</form>
