<h1>Create a New Ingredient</h1>
<form action="/ingredients/new" method="POST">
  <input type="text" name="ingredient[name]" id="name" placeholder="Ingredient Name" ></input>
  <br></br>

  <input type="text" name="ingredient[origin]" id="name" placeholder="Ingredient Origin" ></input>
  <br></br>

  <input type="text" name="ingredient[description]" id="name" placeholder="Ingredient Description" ></input>
  <br></br>

  <input type="text" name="ingredient[quantity]" id="quantity" placeholder="Quantity on hand (16,etc)" ></input>
  <br></br>

  <input type="text" name="ingredient[quantity_type]" id="quantity_type" placeholder="Quantity type (lbs,etc)" ></input>
  <br></br>

  <input type="submit" value="Save">
</form>
